
<div class="jumbotron " >
<h1>About Hostel</h1>
<h4>This is all about the hostel management system.You can get the list of
    blocks,rooms,students,allotments and staff of the hostel.
</h4>
 </div> 